<div class="container auth-container">
    <div class="container position-relative">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h4 class="card-title text-center mb-4">Login</h4>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="mb-3">
                        <%= f.label :email, "Email", class: "form-label" %>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                    <div class="mb-3">
                        <%= f.label :password, t("login.password_label"), class: "form-label" %>
                        <%= f.password_field :password, autocomplete: t("login.current_password_label"), class: "form-control" %>
                    </div>
                    <% if devise_mapping.rememberable? %>
                        <div class="mb-3 form-check">
                            <%= f.check_box :remember_me, class: "form-check-input" %>
                            <%= f.label :remember_me, t("login.remember_me"), class: "form-check-label" %>
                        </div>
                    <% end %>
                    <div class="mb-3">
                        <%= link_to t("login.forgot_link"), new_password_path(resource_name), class: "text-decoration-none" %>
                    </div>
                    <%= f.submit t("login.submit_button_enter"), class: "btn btn-primary w-100" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
