<div class="container my-4" id="posts">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= turbo_frame_tag "posts" do %>
          <%= form_with url: posts_path, method: :get do |form| %>
            <div class="mb-3 d-flex justify-content-center">
              <div class="input-group input-group-lg">
                <%= form.text_field :search, 
                    value: params[:search], 
                    class: "form-control py-2", 
                    placeholder: t("index_post.your_search"), 
                    aria: { label: t("index_post.search") }, 
                    id: "search-input",
                    autocomplete: "off" %>
                <%= form.submit t("index_post.search"), class: "btn btn-primary px-4", aria: { label: t("index_post.search") } %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if params[:search].present? && @posts.empty? %>
    <div class="d-flex justify-content-center">
      <h1 class="d-flex flex-column mt-5">
        <%= t("index_post.no_tag_posts") %>
      </h1>
    </div>
  <% else %>
    <% if @posts.empty? %>
      <div class="d-flex justify-content-center">
        <h2 class="d-flex flex-column mt-5">
          <%= t("index_post.no_posts") %>
          <%= link_to t("index_post.btn_first"), new_post_path, class: 'btn btn-primary mt-3' %>
        </h2>
      </div>
    <% else %>
      <div class="row">
        <% @posts.each do |post| %>
          <%= render partial: "post", locals: { post: post } %> 
        <% end %>

        <%= paginate @posts %>
      </div>
    <% end %>
  <% end %>
</div>
