<p><%= t("password_reset.greeting", email: @resource.email) %></p>

<p><%= t("password_reset.instructions") %></p>

<p><%= link_to t("password_reset.change_password_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("password_reset.ignore_warning") %></p>
<p><%= t("password_reset.safety_note") %></p>
